.theme-primary-text {
  color: #153439;
}

.theme-secondary-text {
  color: #ff7c5b;
}

.theme-primary-btn {
  background-color: rgb(21, 52, 57);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

.theme-primary-btn:hover {
  background-color: rgb(20, 79, 88);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

.theme-secondary-btn {
  background-color: rgb(255, 124, 91);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

.theme-secondary-btn:hover {
  background-color: rgb(209, 73, 39);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

.motives-list li {
  list-style-type: none;
  margin-bottom: 10px;
  color: rgb(20, 79, 88);
  font-weight: 700;
}

#hero-section {
  height: 700px;
  background-image: url('/src/images/banner.jpg');
  background-size: cover;
  background-position: 0 -200px;
}

#hero-section .hero-bg-overlay {
  height: 700px;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.8);
  /* background: linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(122,55,187,0.5) 0%, rgba(130,49,218,0.5) 0%, rgba(13, 63, 3, 0.5) 50%, rgba(245,252,69,0.5) 100%); */
}

.hero-content {
  text-align: center;
  padding-top: 200px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 5px;
}

.hero-content span {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
}

.hero-content em {
  color:steelblue;
  font-size: 60px;
}

#hero-email-filed input, #hero-email-filed button {
	width: 500px;
	height: 50px;
	border: none;
	outline: none;
  display: inline-block;
	padding-left: 20px;
	border-radius: 60px;
}

#hero-email-filed button {
	width: 160px;
	background-color: rgb(255, 124, 91);
	color: #fff;
	font-weight: 600;
	margin-left: -80px;
  margin-top: 30px;
	border-radius: 60px;
	padding: 0;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}