.theme-primary-text {
  color: #153439;
}

.theme-secondary-text {
  color: #ff7c5b;
}

.theme-primary-btn {
  background-color: rgb(21, 52, 57);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

.theme-primary-btn:hover {
  background-color: rgb(20, 79, 88);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

.theme-secondary-btn {
  background-color: rgb(255, 124, 91);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

.theme-secondary-btn:hover {
  background-color: rgb(209, 73, 39);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

.motives-list li {
  list-style-type: none;
  margin-bottom: 10px;
  color: rgb(20, 79, 88);
  font-weight: 700;
}

#hero-section {
  height: 700px;
  background-image: url('/src/images/banner.jpg');
  background-size: cover;
  background-position: 0 -200px;
}

#hero-section .hero-bg-overlay {
  height: 700px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.hero-content {
  width: 420px;
  text-align: center;
  padding-top: 200px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 5px;
}

.hero-content h3 {
  font-size: 30px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}